/*MGA FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@400;600;700&display=swap');


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(4, 9, 30, 0.427),rgba(4, 9, 30, 0.438)),
url(img/bg.gif);
    background-size: cover;
    background-attachment: fixed;
  }


/*Nav bar tong part na to*/
nav {
    background-color: rgb(15, 15, 15);
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  position: relative;
  z-index: 1;
  display: inline-block;
  left: 340px;
  display: block;
  padding: 25px;
  text-decoration: none;
  color: #cbcbcb;
  margin: 0 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/*dropdown*/

nav ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-55%);
    z-index: 999;
    display: none;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li ul.dropdown li a {
    display: block;
    padding: 15px 35px; 
    background: rgba(15, 15, 15, 0.7);
    color: #cbcbcb;
    text-decoration: none;
    text-align: left;
}

nav ul li ul.dropdown li a:hover {
    background: rgba(44, 44, 44, 0.7);
}


nav ul li ul.dropdown li a .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


nav ul li:hover ul.dropdown {
    display: block;
}


/*mga icons*/
nav ul li a i.fa-up-right-from-square {
    margin-left: 10px; 
    font-size: 15px;
    
}

nav ul li a i.fa-chevron-down {
    margin-left: 5px; 
    font-size: 15px;
    
}


.logo {
    position: absolute;
    left: 100px;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #cbcbcb;
    text-decoration: none;
}

.mascot {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 3px;
}


/*Yung underline animation*/
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li ul.dropdown li a::after {
    display: none;
}

/* Hover effect for specific items without underline animation */
nav ul li ul.dropdown li a:hover {
    color: #ffffff;
}
  
/*home*/


button {
    background: none;
    color: #cbcbcb;
    border-color: #cbcbcb;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.game {
    position: absolute;
    left: 470px;
    top: 300px;
    height: 80px;
    width: 540px;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
    color: #cbcbcb;
    position: absolute;
    top: 390px;
    left: 573px;
}

.Play {
    position: absolute;
    left: 665px;
    top: 450px;
}

.Play:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}


.q1 {
    color: #cbcbcb;
    font-family: 'Barlow', sans-serif;
    position: absolute;
    top: 900px;
    left: 100px;
    font-size: 65px;
}

.d1 {
    color: #cbcbcb;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 1130px;
    left: 100px;
    font-size: 25px;
}
.char1 {
    position: absolute;
    top: 1110px;
    left: 830px;
    height: 50%;
    width: 35%;
    border-radius: 20px;
}

.clip {
    position: absolute;
    top: 10000000px;
}

.q2 {
    color: #cbcbcb;
    font-family: 'Barlow', sans-serif;
    position: absolute;
    top: 1600px;
    left: 100px;
    font-size: 65px;
}

.Learn {
    position: absolute;
    top: 1470px;
    left: 290px;
}

.d2 {
    color: #cbcbcb;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 1850px;
    left: 100px;
    font-size: 25px;
}

.char2 {
    position: absolute;
    top: 1970px;
    left: 790px;
    height: 30%;
    width: 15%;
    border-radius: 20px;
}

.char3 {
    position: absolute;
    top: 2000px;
    left: 970px;
    height: 30%;
    width: 15%;
    border-radius: 20px;
}

.char4 {
    position: absolute;
    top: 1800px;
    left: 860px;
    height: 30%;
    width: 15%;
    border-radius: 20px;
}

.chars {
    position: absolute;
    top: 2200px;
    left: 290px;
}


