/*MGA FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(4, 9, 30, 0.427),rgba(4, 9, 30, 0.438)),
url(img/bg.gif);
    width: '-webkit-fill-available';
    background-size: cover;
    background-attachment: fixed;
  }


/*Nav bar tong part na to*/
nav {
    background-color: rgb(15, 15, 15);
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}



nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  position: relative;
  z-index: 1;
  display: inline-block;
  left: 340px;
  display: block;
  padding: 25px;
  text-decoration: none;
  color: #cbcbcb;
  margin: 0 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/*dropdown0*/

nav ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-55%);
    z-index: 999;
    display: none;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li ul.dropdown li a {
    display: block;
    padding: 15px 35px; 
    background: rgba(15, 15, 15, 0.7);
    color: #cbcbcb;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}



nav ul li ul.dropdown li a:hover::before {
    content: ""; /* Create a pseudo-element */
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 175px; /* Adjust the size of the box */
    height: 35px; /* Adjust the size of the box */
    background-color: rgba(44, 44, 44, 0.5);
    border-radius: 5px;
}

nav ul li ul.dropdown li a:hover {
    background: rgba(15, 15, 15, 0.7);
}


nav ul li ul.dropdown li a .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


nav ul li:hover ul.dropdown {
    display: block;
}

/*dropdown1*/

nav ul li ul.dropdown1 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-55%);
    z-index: 999;
    display: none;
}

nav ul li ul.dropdown1 li {
    display: block;
}

nav ul li ul.dropdown1 li a {
    display: block;
    padding: 15px 35px; 
    background: rgba(15, 15, 15, 0.7);
    color: #cbcbcb;
    text-decoration: none;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}



nav ul li ul.dropdown1 li a:hover::before {
    content: ""; /* Create a pseudo-element */
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 165px; /* Adjust the size of the box */
    height: 35px; /* Adjust the size of the box */
    background-color: rgba(44, 44, 44, 0.5);
    border-radius: 5px;
}

nav ul li ul.dropdown1 li a:hover {
    background: rgba(15, 15, 15, 0.7);
}


nav ul li ul.dropdown1 li a .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


nav ul li:hover ul.dropdown1 {
    display: block;
}

/*mga icons*/
nav ul li a i.fa-up-right-from-square {
    margin-left: 10px; 
    font-size: 15px;
    
}

nav ul li a i.fa-chevron-down {
    margin-left: 5px; 
    font-size: 15px;
    
}


.logo {
    position: absolute;
    left: 100px;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #cbcbcb;
    text-decoration: none;
}

.mascot {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 3px;
}


/*Yung underline animation*/
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li ul.dropdown li a::after {
    display: none;
}

nav ul li ul.dropdown1 li a::after {
    display: none;
}

/* Hover effect for specific items without underline animation */
nav ul li ul.dropdown li a:hover {
    color: #ffffff;
}
  
/*home*/


button {
    background: none;
    color: #cbcbcb;
    border-color: #cbcbcb;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.game {
    position: absolute;
    left: 470px;
    top: 300px;
    height: 80px;
    width: 540px;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
    color: #cbcbcb;
    position: absolute;
    top: 390px;
    left: 573px;
}

.Play {
    position: absolute;
    left: 665px;
    top: 450px;
}

.Play:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}


.q1 {
    color: #cbcbcb;
    font-family: 'Press Start 2P';
    position: absolute;
    top: 900px;
    left: 100px;
    font-size: 65px;
}

.d1 {
    color: #cbcbcb;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 1130px;
    left: 100px;
    font-size: 25px;
}
.char1 {
    position: absolute;
    top: 1110px;
    left: 830px;
    height: 50%;
    width: 35%;
    border-radius: 20px;
}

/* .clip {   
    position: absolute;
    top: 10000000px;
} */

.q2 {
    color: #cbcbcb;
    font-family: 'Press Start 2P';
    position: absolute;
    top: 1600px;
    left: 100px;
    font-size: 65px;
}

.Learn {
    position: absolute;
    top: 1470px;
    left: 290px;
}

.d2 {
    color: #cbcbcb;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 1850px;
    left: 100px;
    font-size: 25px;
}

.char2 {
    position: absolute;
    top: 1970px;
    left: 790px;
    height: 30%;
    width: 15%;
    border-radius: 20px;
}

.char3 {
    position: absolute;
    top: 2000px;
    left: 970px;
    height: 30%;
    width: 15%;
    border-radius: 20px;
}

.char4 {
    position: absolute;
    top: 1800px;
    left: 860px;
    height: 30%;
    width: 15%;
    border-radius: 20px;
}

.chars {
    position: absolute;
    top: 2200px;
    left: 290px;
}

/* CHARACTER HTML */

/* USER */
.meowy{
    margin-left: 36%;
    margin-top:11%;
    color: #cbcbcb;
    font-size: 70px;
    font-family: 'Press Start 2P';
    position: absolute;
}

.USER {
    position: absolute;
    top: 150px;
    left: 150px;
    height: 50%;
    width: 24%;
    border-radius: 20px;
}

.CHARD1{
    margin-left: 38%;
    margin-top: 17%;
    position: fixed;
    color: #cbcbcb;
    font-size: 20px; 
    position: absolute;
}

/* FIONNA */
.meowy1{
    margin-left: 36%;
    margin-top:41%;
    position: fixed;
    color: #cbcbcb; 
    font-size: 70px;
    font-family: 'Press Start 2P';
    position: absolute;
}

.FIONNA{
    position: absolute;
    top: 600px;
    left: 150px;
    height: 50%;
    width: 24%;
    border-radius: 20px;
}

.CHARD2{
    margin-left: 38%;
    margin-top: 47%;
    color: #cbcbcb;
    font-size: 20px; 
    position: absolute;
}

/* JOSH */
.meowy2{
    margin-left: 36%;
    margin-top:71%;
    color: #cbcbcb;
    font-size: 70px;
    font-family: 'Press Start 2P';
    position: absolute;
}

.JOSH{
    position: absolute;
    top: 1050px;
    left: 150px;
    height: 50%;
    width: 24%;
    border-radius: 20px;
}

.CHARD3{
    margin-left: 38%;
    margin-top: 77%;
    color: #cbcbcb;
    font-size: 20px; 
    position: absolute;
}

/* DAD */
.meowy3{
    margin-left: 36%;
    margin-top:101%;
    color: #cbcbcb;
    font-size: 70px;
    font-family: 'Press Start 2P';
    position: absolute;
}

.DAD{
    position: absolute;
    top: 1500px;
    left: 150px;
    height: 50%;
    width: 24%;
    border-radius: 20px;
}

.CHARD4{
    margin-left: 38%;
    margin-top: 107%;
    color: #cbcbcb;
    font-size: 20px; 
    position: absolute;
}

/* TUTORIAL */

.T1{
    margin-left: 9%;
    margin-top:4%;
    color: #cbcbcb;
    font-size: 51px;
    font-family: 'Press Start 2P';
    position: absolute;  
}
.T2{
    margin-left: 56%;
    margin-top:4%;
    color: #cbcbcb;
    font-size: 51px;
    font-family: 'Press Start 2P';
    position: absolute;  
}

/* NEWS */
.NEWS{
    margin-left: 8%;
    margin-top:10%;
    color: #cbcbcb;
    font-size: 51px;
    font-family: 'Press Start 2P';
    position: absolute;  
}

.N1{
    position: absolute;
    top: 250px;
    left: 100px;
    height: 30%;
    width: 24%;
    border-radius: 20px;
}

.N2{
    position: absolute;
    top: 525px;
    left: 100px;
    height: 30%;
    width: 24%;
    border-radius: 20px;
}

.N3{
    position: absolute;
    top: 800px;
    left: 100px;
    height: 30%;
    width: 24%;
    border-radius: 20px;
}

.NEWSD1{
    margin-left: 34%;
    margin-top:17%;
    position: fixed;
    color: #cbcbcb;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    position: absolute; 
}

.NEWSD2{
    margin-left: 34%;
    margin-top:37%;
    position: fixed;
    color: #cbcbcb;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    position: absolute; 
}

.NEWSD3{
    margin-left: 34%;
    margin-top:57%;
    position: fixed;
    color: #cbcbcb;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    position: absolute; 
}

/* MESSAGE */
.MSG{
    margin-left: 7%;
    margin-top:11%;
    position: fixed;
    color: #cbcbcb;
    font-size: 50px;
    font-family: 'Press Start 2P';
    position: absolute;
}

.MSG1{
    margin-left: 8%;
    margin-top:15%;
    position: fixed;
    color: #cbcbcb;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}

.SUBMIT{
    position: absolute;
    left: 110px;
    top: 550px;
}

.SUBMIT:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

/* PLAY */
.PLAY{
    margin-left: 7%;
    margin-top:11%;
    position: fixed;
    color: #cbcbcb;
    font-size: 45px;
    font-family: 'Press Start 2P';
    position: absolute;
}

.PLAY1{
    margin-left: 7%;
    margin-top:17%;
    position: fixed;
    color: #cbcbcb;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}

.DOWNLOAD{
    position: absolute;
    left: 110px;
    top: 300px;
}

.DOWNLOAD:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}